<% if user_signed_in? %>
  <li>
  Logged in as <%= current_user.name %>
  </li>
  <li>
	<%= link_to('Get Linkedin Data', linkedin_retrieve_path)  %>
  </li>
  <li>
  <%= link_to('Linkedin Logout', signout_path) %>
  </li>
<% else %>
  <li>
  <%= link_to('Linkedin Login', signin_path)  %>
  </li>
<% end %>
<li>
<%= link_to('EventBrite Login', eventbrite_signin_path)  %>
</li>